# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
# Ignore node_modules in both backend and frontend

**/.env
**/node_modules
**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*


# testing
/coverage

# production
/build

# misc

**/firebase-service-account.json
**/firebase/firebase-config.json
**/firebase/firebase-service-account.json
**/firebase/firebase-config.json